

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #1E90FF;
    height: 36px;
    
   
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 36px;
}
.button .good-button {
    background-color: rgb(23, 184, 23);
    color: azure;
    width: 76px;
    height: 66px;
    border-radius: 5px;
    font-size: 26px;
}

.button .bad-button{
    background-color: red;
    color: azure;
    width: 76px;
    height: 66px;
    border-radius: 5px;
    font-size: 26px;
}

.container {
    margin-top: 100px;
}

.emojis{
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    background-color: #1E90FF; 
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    height: 70px;
    margin-top: 200px;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-right: 25px;
 
    
}


 